*{
    box-sizing: border-box;
}
body{
    background-color: $bg-color;
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: $bg-color;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.title{
    @extend %rubik-500;
    font-size: 35px;
    line-height: 50px;
    color: $title-color;
}
.text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
